@tailwind base;
@tailwind components;
@tailwind utilities;

.react-flow__handle-top,
.react-flow__handle-bottom {
    width: 100%;
    height: 3px;
    border-radius: 0px;
    opacity: 0;
}

.react-flow__handle-left,
.react-flow__handle-right {
    width: 3px;
    height: 100%;
    border-radius: 0px;
    opacity: 0;
}
